{
  "env": {
    "mocha": true
  },
  "extends": "airbnb/base",
  "rules": {
    "indent": [2, 4, {"SwitchCase": 1}],
    "comma-dangle": [2, "never"],
    "camelcase": 0,
    "no-unused-expressions": 0
  }
}