body {
    width: 32em;
    display: block;
    position: relative;
}

.wrapper {
    margin: 10px;
    padding: 10px;
}

#buttons {
    margin: 18px auto;
    width: 18em;
    clear: both;
}

.bottom-row {
    border-bottom: 1px solid #DDDDDD !important;
}

.text-block {
    margin: 18px 0px;
    text-align: center;
}

#rating {
    display: none;
}

.icon {
    vertical-align: text-bottom;
    margin: 0px 1px;
}

#sharing a:hover {
    text-decoration: none;
}
